    @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
    $maincolor:#ed5d30;
    $fontcolor:#525252;
    $font-xl:17px;
    $font-l:14px;
    $font-m:12px;
    $font-s:11px;
    body {
        font-family: 'Noto Sans TC', 'MicrosoftJhengHeiRegular', 'sans-serif';
        margin-bottom: 50px;
    }

    .container {
        margin-bottom: 60px;
    }

    .title {
        text-align: center;
        font-size: 18px;
        color: $fontcolor;
        margin: 30px 0 25px 0;
    }

    .shop-list {
        padding-top: 9px;
        letter-spacing: 1.7px;
        .shop-name {
            color: $maincolor;
            font-size: 14px;
        }
        .shop-name:hover {
            text-decoration: none;
        }
        .shop-type,
        .open-time {
            color: $fontcolor;
            letter-spacing: 1.3px;
            font-size: 11px;
            margin-top: 3px;
        }
    }

    .horizon-line {
        margin-top: 1rem;
    }

    .navbar {
        position: fixed;
        width: 100%;
        background: $maincolor;
        bottom: 0;
        font-size: 1.5rem;
        .text {
            display: inline-block;
            font-size: $font-s;
        }
        a {
            color: #fff;
        }
        a:hover {
            text-decoration: none;
            color: rgb(141, 141, 141);
        }
    }