<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="js/vue.js"></script>

  <title>好食在</title>
</head>
<body>
  <div id="app">
    <my-component></my-component>
  </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBMRANtWtuf5Quz26GxkEnb4rRJ1t7OAkg",
    authDomain: "goodfood-39158.firebaseapp.com",
    databaseURL: "https://goodfood-39158.firebaseio.com",
    projectId: "goodfood-39158",
    storageBucket: "goodfood-39158.appspot.com",
    messagingSenderId: "940303768399"
  };
  firebase.initializeApp(config);
</script>
<script type="text/x-template" id="my-component">
  <div>
    <header>
      <img src="img/logo.png" alt="" class="pl-5">
        <h2 class="ml-5 pl-5">想吃什麼</h2>  
    </header>
    <div class="container ">
      <input class=" mr-sm-2" type="search" placeholder="請輸入關鍵字" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" @click="search">Search</button>
      <div class="row" v-if="firstView">
        <div class="col mt-3 mb-4">
          <a href="#">
            <img src="img/中式料理.jpg" width="100%" alt="">
          </a>
        </div>
        <div class="col mt-3">
          <a href="#">
            <img src="img/西式料理.jpg" width="100%" alt="">
          </a>
        </div>
        <div class="w-100"></div>
      </div>
      <div class="row" v-if="firstView">
        <div class="col mb-4">
          <a href="#">
            <img src="img/日式料理.jpg" width="100%" alt="">
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="img/東南亞.jpg" width="100%" alt="">
          </a>
        </div>
        <div class="w-100"></div>
      </div>
      <div class="row" v-if="firstView">
        <div class="col mb-4">
          <a href="#">
            <img src="img/輕食.jpg" width="100%" alt="">
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="img/甜點飲料.jpg" width="100%" alt="">
          </a>
        </div>
        <div class="w-100"></div>
      </div>
    </div>
    <button width="100%">新增店家</button>
  </div>
</script>
<script>
  Vue.component('my-component', {
      template: '#my-component',
      data: function () {
        return {

        }
      },
      methods: {
        search(){
          console.log(1);
        }
      }
    });
  
  const vm = new Vue({
    el: '#app',
    data: {

    }
  })
</script>
</body>
</html>