<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="js/vue.js"></script>
</head>
<body>
  <div id="app">
    <my-component></my-component>
  </div>
<script type="text/x-template" id="my-component">
  <div>
    <ul>
      <li v-for="(item, index) in dishes">
        <span>{{item.dishName}}</span>
        <span>{{item.count}} (個/份)</span>
        <span>{{item.price * item.count}} 元</span>
      </li>
    </ul>
    <span>總金額 {{total}} 元</span>
    <br>
    <span>我是</span>
    <input type="text" v-model="name">
    <a href="result.html?orderId=1" @click.prevent="orderConfirm">確認訂單</a>


  </div>
</script>

<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBMRANtWtuf5Quz26GxkEnb4rRJ1t7OAkg",
    authDomain: "goodfood-39158.firebaseapp.com",
    databaseURL: "https://goodfood-39158.firebaseio.com",
    projectId: "goodfood-39158",
    storageBucket: "goodfood-39158.appspot.com",
    messagingSenderId: "940303768399"
  };
  firebase.initializeApp(config);
</script>

<script>
  const member = firebase.database().ref("order/member");
  
  var helper = {
    getParameterByName: function(name, url) {
      var regex, results;
      if (!url) {
        url = window.location.href;
      }
      name = name.replace(/[\[\]]/g, '\\$&');
      regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)', 'i');
      results = regex.exec(url);
      if (!results) {
        return null;
      }
      if (!results[2]) {
        return '';
      }
      return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
  };

  let orderList = helper.getParameterByName("orderList"); 
  //console.log(orderList);

  Vue.component('my-component', {
  template: '#my-component',
  data: function(){
    return {
      orderListnew: [],
      name: '',
      dishes: [],
      userSubtotal: 0,
      allSubtotal: 0,
      total: 0,
      members: [],
      //userTotalList: [],
    }
  },
  created(){
    this.orderListnew = JSON.parse(orderList);
    //console.log(this.orderListnew);
    this.name =this.orderListnew[0].name;
    //console.log(this.name);
    this.dishes = this.orderListnew[0].order;
    //console.log(this.dishes);
    this.total = this.orderListnew[0].userTotal;
    //console.log(this.total);
  },
  mounted(){
    const self = this;
    member.once('value').then(function(snapshot){
      snapshot.forEach(function(data){
        console.log(data.val());
        self.members.push(data.val());
      });
      console.log(self.members);
    });
  },
  methods: {
    orderConfirm(){
      
      for(let item in this.members){
        this.orderListnew.push(this.members[item]);
      }
      console.log(this.orderListnew);
      

      member.set(this.orderListnew);
      

   

    }
  },

});

const vm = new Vue({
  el: '#app',
  data: {
  },
});





  
  //demo.$firebaseRefs.anArray.update(JSON.parse(orderList));


</script>
</body>
</html>