<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>order</title>
  <script src="js/vue.js"></script>
  <script src="js/moment.js"></script>
</head>
<body>
  <div id="app">
    <my-component></my-component>
  </div>
  <script type="text/x-template" id="my-component">
    <div>
      <ul>
        <li v-for="(item, index) in dishes">
          <span>{{item.dishName}}</span>
          <button type="button" @click="reduce(index)">-</button>
          <input type="text" v-model="item.count">
          <button type="button" @click="add(index)">+</button>
          <span>{{item.price}}</span>
        </li>
      </ul>
      <span>我是</span>
      <input type="text" v-model="name">
      <a href="#" @click="order">下訂單</a>
      <a href="orderResult.html?orderId=1">看團訂結果</a>
      <a href="order.html?orderId=1">分享這頁</a>
    </div>
  </script>
  
<script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBMRANtWtuf5Quz26GxkEnb4rRJ1t7OAkg",
    authDomain: "goodfood-39158.firebaseapp.com",
    databaseURL: "https://goodfood-39158.firebaseio.com",
    projectId: "goodfood-39158",
    storageBucket: "goodfood-39158.appspot.com",
    messagingSenderId: "940303768399"
  };
  firebase.initializeApp(config);
</script>
<script>
  moment().format();
  var helper = {
    getParameterByName: function(name, url) {
      var regex, results;
      if (!url) {
        url = window.location.href;
      }
      name = name.replace(/[\[\]]/g, '\\$&');
      regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)', 'i');
      results = regex.exec(url);
      if (!results) {
        return null;
      }
      if (!results[2]) {
        return '';
      }
      return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
  };

  var storeId = helper.getParameterByName("storeId"); 

  let dish = firebase.database().ref('dish');
  let member = firebase.database().ref('member');
  let order = firebase.database().ref('order');

  Vue.component('my-component', {
    template: '#my-component',
    data: function() {
      return {
        dishes: [],
        name: '',
        memberKey: '',
        orderKey: '',
        totalOrder: [],
        total: 0,
        userTotal: 0,
      }
    },
    created(){
      const self = this;
      dish.orderByChild("storeId").equalTo(storeId).once('value').then( function(snapshot) {
        //console.log(snapshot.val());
        snapshot.forEach( function(data) {
          //console.log(data.val());
          self.dishes.push(data.val());
        });
      });
      //console.log(self.dishes);

    },
    methods: {
      reduce(index){
        if(this.dishes[index].count >=1){
          this.dishes[index].count -= 1;
        }
      },
      add(index){
        this.dishes[index].count += 1;
      },
      order(){
        this.memberKey = member.push({name: this.name}).key;
        console.log(this.memberKey);
        for(let item in this.dishes){
          if(this.dishes[item].count >=1){
            this.total += this.dishes[item].price * this.dishes[item].count;
            console.log(this.dishes[item]);
            this.totalOrder.push(this.dishes[item]);
          }
        }
        console.log(this.total);
        
        this.orderKey = order.push({
          orderDetail: {
            userId: '',
            name: this.name,
            order: this.totalOrder,
            userTotal: this.total,
            }
        }).key;
        
      }
    },
    mounted(){

    }
  });

  const vm = new Vue({
    el: '#app',
    data: {
    },
  });
</script>

</body>
</html>