<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <script src="https://use.fontawesome.com/311a41a163.js"></script>
    <link rel="stylesheet" href="css/order.css">
    <title>訂購頁</title>
</head>
<div class="container">
    <div class="wrapper">
        <div class="order-title">八方雲集鍋貼水餃專賣店</div>
        <div class="order-list">
            <ul>
                <li>
                    <span>咖哩鍋貼10個</span>
                    <span class="text-right">60TWD</span>
                    <span class="text-right">
                        <i class="fa fa-minus-circle icon" aria-hidden="true"></i>
                        <input type="text" v-model="item.count" class="text" />
                        <i class="fa fa-plus-circle icon" aria-hidden="true"></i>
                    </span>
                    <span class="text-right">60TWD</span>
                </li>
                <li>
                    <span>泡菜鍋貼10個</span>
                    <span class="text-right">120TWD</span>
                    <span class="text-right">
                        <i class="fa fa-minus-circle icon" aria-hidden="true"></i>
                        <input type="text" v-model="item.count" class="text" />
                        <i class="fa fa-plus-circle icon" aria-hidden="true"></i>
                    </span>
                    <span class="text-right">120TWD</span>
                </li>
                <li>
                    <span>玉米鍋貼10個</span>
                    <span class="text-right">60TWD</span>
                    <span class="text-right">
                        <i class="fa fa-minus-circle icon" aria-hidden="true"></i>
                        <input type="text" v-model="item.count" class="text" />
                        <i class="fa fa-plus-circle icon" aria-hidden="true"></i>
                    </span>
                    <span class="text-right">60TWD</span>
                </li>
            </ul>
        </div>
        <p class="order-total">
            <span>
                總共60元
            </span>
        </p>
        <div class="wrap">
            <div class="order-name">
                <label class="myname">我是</label>
                <input id="name" type="text" placeholder="請輸入名字" name="name">
                <div class="button">
                    <a href="result.html" class="order-btn">下訂單</a>
                    <a href="result.html" class="result-btn">看團購結果</a>
                    <a href="result.html" class="share-btn">分享這頁</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="navbar">
    <a href="index.html" class="fa fa-home" aria-hidden="true"></a>
    <a href="index.html" class="fa fa-user-o" aria-hidden="true"></a>
</div>


</div>

<body>

</body>

</html>