<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.11/vue.min.js"></script>
  
</head>
<body>
    <div id="app">
        <!-- <ul>
            <template v-for='item in items'>
             <li v-for='element in item.elements'>
               {{element.title}}
             </li>
            </template>
           </ul> -->
           <ul>
             <li v-for="title in titles">{{title}}</li>
           </ul>
    </div>
  <script>
      new Vue({
  el:'#app',
  data:{
    items:
      {"id":2,
      "eleme‌​nts":[{"id":1,"title‌​":"yay"}]
      }
  },
  computed:{
    titles:function(){
      var titles = [];
      for(var i = 0; i < this.items.length; i++){
        for(var k = 0; k < this.items[i].length; k++){
          titles.push(this.items[i][k].title);
        }
      }
      return titles;
    }
  }
  
});
  </script>
</body>
</html>