@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
  font-family: 'Noto Sans TC', 'MicrosoftJhengHeiRegular', 'sans-serif';
  letter-spacing: 2.5px;
}

$maincolor:#f7a654;
$fontcolor:#292929;
