//顏色名稱
$orange: #f7a654;
$dark_orange: #b93f0c;
$red: #f75454;
$skin_color: #fff2e3;
$blue: #42a2ed;
$white: #e1e1e1;
$gray_one: #f4f4f4;
$gray_two: #333333;
$black: #000;
//抽象名稱
$hr_primary: #e1e1e1;
$font_primry: $gray_two;
$btn_primary_border: $orange;
$btn_primary_font: $orange;
$box_shadow: 0 0 5px rgba(0, 0, 0, 0.2);
